# Python
__pycache__/
*.pyc
.venv/
*.egg-info/
backend/build/

# Node
node_modules/
frontend/node_modules/

# Frontend build artifacts
frontend/dist/
frontend/.quasar/prod-spa/
frontend/.quasar/prod-pwa/
frontend/.quasar/dev-pwa/

# Env
.env
infra/env/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
