# Python
__pycache__/
*.pyc
.venv/
.venv312/
*.egg-info/
backend/build/

# Node
node_modules/
frontend/node_modules/

# Frontend build artifacts
frontend/dist/
frontend/.quasar/

# Local storage uploads
backend/data/uploads/

# Env
.env
infra/env/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
